.empty-frame-icon {
  position: absolute;
  top: 308.6px;
  left: 358px;
  width: 113.4px;
  height: 37.2px;
  object-fit: contain;
  z-index: 3;
}
.empty-frame-icon1 {
  position: absolute;
  top: 308.6px;
  left: 511.4px;
  width: 141px;
  height: 37px;
  object-fit: contain;
  z-index: 3;
}
.ellipse-node {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  background-color: var(--color-blueviolet-200);
  filter: blur(349px);
  width: 1740px;
  height: 457px;
  z-index: 4;
}
.frame-background {
  width: 1740px;
  height: 1927px;
  position: absolute;
  margin: 0 !important;
  bottom: 305px;
  left: -172px;
}
.community-child {
  align-self: stretch;
  height: 1317px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
  z-index: 2;
}
.parent-frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 810px 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.child-frames {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.community {
  width: 100%;
  background: linear-gradient(180deg, #9a54eb, rgba(0, 0, 0, 0));
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 124px 0px 0px;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-mid);
  letter-spacing: normal;
}

@media screen and (max-width: 1200px) {
  .parent-frame {
    padding-top: 342px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .parent-frame {
    padding-top: 222px;
    box-sizing: border-box;
  }
}
