.image-icon2 {
  position: absolute;
  top: 17px;
  left: 0px;
  width: 1740px;
  height: 1690px;
  object-fit: contain;
  z-index: 1;
}
.child-rectangle-icon {
  position: absolute;
  top: 0px;
  left: 180px;
  width: 1347px;
  height: 716px;
  object-fit: cover;
  z-index: 3;
}
.powering-tools-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0.5px;
  bottom: 0.2px;
  left: -0.4px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.frame-join-child {
  height: 99px;
  width: 423px;
  position: relative;
  border-radius: var(--br-5xl);
  background-color: var(--color-greenyellow);
  display: none;
  max-width: 100%;
}
.join-us1 {
  height: 32px;
  width: 114px;
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 101%;
  font-weight: 500;
  font-family: var(--font-work-sans);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  z-index: 4;
}
.frame-join {
  cursor: pointer;
  border: none;
  padding: var(--padding-17xl) var(--padding-141xl) var(--padding-12xl)
    var(--padding-130xl);
  background-color: var(--color-greenyellow);
  margin: 0 !important;
  position: absolute;
  top: 103px;
  left: -90px;
  border-radius: var(--br-5xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
  white-space: nowrap;
  z-index: 3;
}
.frame-join:hover {
  background-color: var(--color-yellowgreen);
}
.image-4-icon {
  position: absolute;
  top: 7.4px;
  left: -4.2px;
  width: 124px;
  height: 24px;
  object-fit: cover;
}
.join-us-frames {
  height: 38px;
  width: 115px;
  position: absolute;
  margin: 0 !important;
  top: 593.6px;
  left: 325.4px;
  z-index: 3;
}
.image-5-icon {
  position: absolute;
  top: -2.6px;
  left: 8.8px;
  width: 96px;
  height: 44px;
  object-fit: contain;
}
.join-us-frames1 {
  height: 38px;
  width: 114px;
  position: absolute;
  margin: 0 !important;
  top: 593.6px;
  right: 455.6px;
  z-index: 3;
}
.image-6-icon {
  position: absolute;
  top: 3.4px;
  left: 7.8px;
  width: 99px;
  height: 31px;
  object-fit: contain;
}
.join-us-frames2 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  height: 38px;
  width: 114px;
  position: absolute;
  margin: 0 !important;
  top: 593.6px;
  right: 301.6px;
  z-index: 3;
}
.image-7-icon {
  position: absolute;
  top: 8.4px;
  left: 5.2px;
  width: 105.2px;
  height: 22px;
  object-fit: cover;
}
.join-us-frames3 {
  height: 38px;
  width: 115px;
  position: absolute;
  margin: 0 !important;
  top: 593.6px;
  right: 146.6px;
  z-index: 3;
}
.frame-x-self-intro {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-200);
  box-shadow: 0px 58px 80px rgba(0, 0, 0, 0.16);
}
.tell-us-about {
  margin: 0;
  width: 342px;
  height: 91px;
  position: relative;
  font-size: inherit;
  line-height: 37.8px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.ipsum-is-simply-dummy {
  align-self: stretch;
  height: 55px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 27.3px;
  font-family: var(--font-work-sans);
  color: var(--color-silver);
  display: inline-block;
  z-index: 1;
  margin-top: -10px;
}
.rectangle-bg-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.text-input-intro {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-12xs) 0px var(--padding-xs);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-x-expectations {
  border: none;
  outline: none;
  background-color: transparent;
  align-self: stretch;
  height: 67px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-101xl) var(--padding-4xl)
    var(--padding-2xl);
  box-sizing: border-box;
  font-family: var(--font-work-sans);
  font-size: var(--font-size-mini);
  color: var(--color-lightslategray);
  min-width: 250px;
}
/* .image-you-tube8{
  border: none;
  outline: none;
  background-color: transparent;
  align-self: stretch;
  height: 67px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-101xl) var(--padding-4xl)
    var(--padding-2xl);
  box-sizing: border-box;
  font-family: var(--font-work-sans);
  font-size: var(--font-size-mini);
  color: var(--color-lightslategray);
  min-width: 250px;
} */
.lorem-ipsum-frames {
  width: 530px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-23xl) var(--padding-26xl) var(--padding-10xl)
    var(--padding-12xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-64xl);
  max-width: 100%;
  z-index: 4;
}
.powering-tools {
  position: absolute;
  top: -810px;
  left: 195px;
  width: 1050px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-110xl) var(--padding-79xl);
  box-sizing: border-box;
  min-height: 1256px;
  max-width: 100%;
}
.rectangle1 {
  height: 44px;
  width: 189.4px;
  position: relative;
  border-radius: var(--br-5xl);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  display: none;
}
.youtube {
  height: 20px;
  width: 70px;
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 20px;
  text-transform: uppercase;
  font-family: var(--font-work-sans);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  z-index: 1;
}
.rectangle-vector-icon {
  height: 19px;
  width: 26px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.frameset {
  cursor: pointer;
  border: 1px solid var(--color-white);
  padding: var(--padding-xs) var(--padding-24xl);
  background-color: transparent;
  position: absolute;
  top: 570px;
  left: 323px;
  border-radius: var(--br-5xl);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  z-index: 4;
}
.frameset:hover {
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.podcast {
  height: 20px;
  width: 67px;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 20px;
  text-transform: uppercase;
  font-family: var(--font-work-sans);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  z-index: 1;
}
.frame-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.frameset1 {
  cursor: pointer;
  border: 1px solid var(--color-white);
  padding: var(--padding-3xs) var(--padding-25xl) var(--padding-3xs)
    var(--padding-27xl);
  background-color: transparent;
  position: absolute;
  top: 570px;
  left: 534px;
  border-radius: var(--br-5xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  z-index: 4;
}
.frameset1:hover {
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.frameset2 {
  cursor: pointer;
  border: 1px solid var(--color-white);
  padding: var(--padding-xs) var(--padding-24xl);
  background-color: transparent;
  position: absolute;
  top: 571px;
  right: 499.6px;
  border-radius: var(--br-5xl);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  z-index: 4;
}
.frameset2:hover {
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.frameset3 {
  cursor: pointer;
  border: 1px solid var(--color-white);
  padding: var(--padding-3xs) var(--padding-25xl) var(--padding-3xs)
    var(--padding-27xl);
  background-color: transparent;
  position: absolute;
  top: 571px;
  right: 288.6px;
  border-radius: var(--br-5xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  z-index: 4;
}
.frameset3:hover {
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.beyond-expectations {
  width: 546px;
  height: 68px;
  position: relative;
  letter-spacing: -1.4px;
  line-height: 67.2px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    linear-gradient(135deg, #fff 30%, rgba(255, 255, 255, 0.5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  max-width: 100%;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
  padding-right: var(--padding-xl);
  z-index: 2;
}
.resend-is-driving {
  width: 660px;
  height: 27px;
  position: relative;
  line-height: 27px;
  display: flex;
  align-items: center;
  max-width: 100%;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
  padding-right: var(--padding-xl);
  z-index: 3;
}
.stories-empower-businesses {
  width: 677px;
  height: 27px;
  position: relative;
  line-height: 27px;
  display: inline-block;
  z-index: 2;
}
.ellipse-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  font-size: var(--font-size-lg);
}
.text-beyond-expects {
  position: absolute;
  top: 1114px;
  left: 381px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
  font-size: var(--font-size-34xl-5);
  color: var(--color-aliceblue);
  font-family: var(--font-inter);
}
.div-mdfade-in-black-mask-g {
  position: absolute;
  top: 379.2px;
  left: 0px;
  width: 1425px;
  height: 243.7px;
  z-index: 2;
}
.text-fuel-growth {
  position: absolute;
  top: 0px;
  left: 484px;
  border-radius: 50%;
  background-color: var(--color-blueviolet-200);
  filter: blur(349px);
  width: 457px;
  height: 457px;
  z-index: 4;
}
.rectangle-image-container {
  position: absolute;
  width: calc(100% - 16px);
  top: 960px;
  right: 9px;
  left: 7px;
  height: 623px;
}
.you-tube-podcast {
  align-self: stretch;
  height: 1707px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-darker-grotesque);
}

@media screen and (max-width: 1050px) {
  .tell-us-about {
    font-size: var(--font-size-13xl);
    line-height: 30px;
  }

  .beyond-expectations {
    font-size: var(--font-size-24xl);
    line-height: 54px;
  }
}
@media screen and (max-width: 450px) {
  .tell-us-about {
    font-size: var(--font-size-5xl);
    line-height: 23px;
  }

  .beyond-expectations {
    font-size: var(--font-size-13xl);
    line-height: 40px;
  }
}
