.home{
   
    color: beige;

}
.circle{
    position: absolute;
    width: 28vw;
    height: 28vw;
    background-color: #6843EC;
    z-index: -1;
    top: -6vw;
    left: -9vw;
    border-radius: 50%;
    filter: blur(6vw);
}
.section1{
    display: flex;
    justify-content: space-between;
    gap: 10vw;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.section1-left{
    /* text-align:left ; */
    max-width: 40%;
    font-size: 3.6vw;
    font-weight: 500;
}
.section1-left span{
    font-size: 5.4vw;
    font-weight: bold;
    letter-spacing: 0.2vw;
}
.section1-right{
    display: flex;
    flex-direction: column;
    font-size: 1.7vw;
    max-width: 40%;
}
.section1-right span{
    width: 69%;
    font-size: 1vw;
}
.section2{
    display: flex;
    margin-top: 10vw;
    gap: 1vw;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.section2-left img{
    width: 35vw;
}
.section2-right{
    height: 30vw;
}
.right-side-1{
    position: absolute;
}
.right-side-1 img{
    width: 18vw;
}
.right-side-1::after{
    content: "30+ projects";
    font-size: 3vw;
    font-weight: 500;
    text-align: center;
    position: absolute;
    left: 0vw;
    border-radius: 1.7vw;
    padding: 1vw 3.6vw;
    background-image:linear-gradient(#D2FF3A , #ffffff7b)
}
.right-side-2{
    position: relative;
    left: 17vw;
    top: -3.6vw;
}
.right-side-2 img{
    width: 30vw;
}
.right-side-3{
    position: relative;
    left: -8vw;
    top: -8.7vw;
    border-radius: 1vw;
    width: 24vw;
    height: 8.5vw;
    display: flex;
    flex-direction: column;
    row-gap: 1.8vw;
    font-size: 2vw;
    line-height: 1.8vw;
    padding: 1vw;
    background-color: #6843EC;
}
.image img{
    width: 1.7vw;
}
.image img:nth-child(2){
    position:relative;
    left: -0.7vw;
}
.image img:nth-child(3){
    position:relative;
    left: -1.3vw;
}
.image img:nth-child(4){
    position:relative;
    left: 2.9vw;
    top: -1.8vw;
}
.profile{
    display: flex;
}
.join{
    font-size: 1.1vw;
}
.try-free{

    position: relative;
    left: 19vw;
    top: -15.5vw;
    width: 19vw;
    border-radius: 1vw;
    padding: 1.8vw 4vw;
    text-align: center;
    background-color: #D2FF3A;
    color: black;
    font-size: 2.3vw;
}
.section3{
    text-align: center;
    font-size: 1.6vw;
    letter-spacing: 0.2vw;
    color: #6843EC;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.section3-down{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 1.2vw;
    gap: 2vw;
}
.section3-down img{
    width: 11%;
    aspect-ratio: 3/2;
    object-fit: contain;

}
.cards{
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    gap: 8vw;
    top: 5vw;
    line-height: 3vw;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.card{
    display: flex;
    flex-direction: column;
    background-color: #19161C;
    width: 30%;
    font-size: 2.5vw;
    font-weight: 600;
    padding: 3vw 2vw;
    line-height: 3vw;
    border-radius: 1.5vw;
}
.card p{
    font-size: 1vw;
    font-weight: 300;
    line-height: 1.3vw;
    letter-spacing: 0.09vw;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
}
.buttons img{
    width: 1.5vw;
}
.buttons button{
    background-color: transparent;
    color: white;
    border: 0.15vw solid white;
    padding: 0.6vw 2vw;
    border-radius: 1.2vw;
    display: flex;
    align-items: center;
    margin-top: 1vw;
    column-gap: 0.5vw;
    font-size: 0.8vw;
    cursor: pointer;
    
}

.discussionSection input[type="text"]{
    background-color: #0A0A0A;
    border: none;
    width: 85%;
    height: 2vw;
    padding: 1vw 1.7vw;
    border-radius: 2vw;
    color: white;
    font-size: 1vw;

}
.discussionSection button{
    position: absolute;
    top: 15.8vw;
    left: 69vw;
    background-color: #D2FF3A;
    padding: 0.7vw 1.5vw;
    border-radius: 2vw;
    font-weight: 600;
    font-size: 0.97vw; 
    cursor: pointer;
    border: none;

}
.backgroungImg img{
    position: absolute;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    top: 53vw;
}
.section5{
    margin-top: 10vw;
    text-align: center;
    font-size: 1.2vw;
  
}
.speaker-list{
    display: flex; 
    position: relative;
    top: 2vw;
    column-gap: 3vw;
    justify-content: center;
}
.speakers{
    display: flex;
    position: relative;
    row-gap: 0.8vw;
    flex-direction: column;
    align-items: center;
}
.speakers h4{
    font-size: 1vw;
    margin: 0;
    padding: 0;
    font-weight: 500;
    padding: 0vw 0;
    color: lightgreen;
}
.speakers img{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    object-fit: cover;
}
.count{
    display: flex;
    justify-content: center;
    /* position: relative;
    top: 10vw; */
    margin-top: 10vw;
    column-gap: 10vw;
    font-size: 3vw;
    font-weight: 700;
    color: #6843EC;
    text-align: center;
}
.innner-count h1{
    margin: 0;
}
.innner-count h3{
    color: white;
    font-weight: 400;
    font-size: 1.4vw;
}
.section7-content{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 1vw;
}
.section7-content::-webkit-scrollbar{
    width: 0;
}
.content-left{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.content-sec1{
    display: flex;
    gap: 1vw;
}
.content-sec2{
    display: flex;
    gap: 1vw;
}
.block1{
    text-align: center;
    padding: 2.8vw;
    background-color: #19161C;
}
.block1 h2{
    margin: 0;
    color: #6843EC;
    padding-bottom: 0.7vw;
    font-size: 2.6vw;
    font-weight: 500;
}
.block1 span{
    font-size: 0.9vw;
    font-weight: 200;
}
.block2 img{
    width: 20.7vw;
    object-fit: cover;
}
.content-right img{
    width: 41.5vw;
    aspect-ratio: 3/2;
    object-fit: cover;
}
/* @media (width >= 768px) {
    .section2{
        display: none;
    }
    
} */
@media (width <= 320px) {
    .section2{
        display: none;
    }
    
}