.navbar{
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .circle2{
    width: 80vw;
    height: 20vw;
    background-color: #6843EC;
    position: absolute;
    left: 4vw;
    top: -10vw;
    z-index: -1;
    border-radius: 50%;
    filter: blur(7vw);

} */
.navigation ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2vw;
    list-style-type: none;
    padding: 2vw;
}
.navigation ul li a{
    display: flex;
    align-items: center;
    gap: 0.2vw;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1.16vw;
}
.navigation button{
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    padding: 0.7vw 1vw;
    border: 0.13vw solid white;
    color: white;
    border-radius: 1.5vw;
    cursor: pointer;
    font-size: 0.95vw;
}
.home img{
    width: 10vw;
    aspect-ratio: 3/2;
    object-fit: contain;
}